<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019552264881-81o0c4n3jrpp0mpl5rqv181v9chs6gmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019552264881-81o0c4n3jrpp0mpl5rqv181v9chs6gmj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019552264881-plffq8v7hb7fpr9patrtnhd9d2f1ufm6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfI5P8iKp9gBocnOpJrJ6eqH3IsSMsNTw</string>
	<key>GCM_SENDER_ID</key>
	<string>1019552264881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.absensi</string>
	<key>PROJECT_ID</key>
	<string>skponline-5feb5</string>
	<key>STORAGE_BUCKET</key>
	<string>skponline-5feb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019552264881:ios:7d7a06c67f21010bee6890</string>
</dict>
</plist>